body{
background: #f7f7f9;
}
.fade-enter-active, 
.fade-leave-active{
    transition : opacity 0.2s;
}

.fade-enter, .fade-leave-active{
    opacity:0;
}
.scaleup-enter-active,
.scaleup-leave-active{
    transition : all 0.4s;
    /* transition : opacity 0.1s; */
}
.scaleup-enter, .scaleup-leave-active{
    transform:scale(0.9);
    opacity:0;
}
h2{
    /* font-size: 1.5rem !important; */
    margin:15px 0 10px !important;
}
h3{
    /* font-size: 1.4rem !important; */
    margin:15px 0 10px !important;
    /* font-weight:500 !important; */
 
}

blockquote {
    display: block;
    border-width: 2px 0;
    border-style: solid;
    border-color: #eee;
    padding: 1em 0 1em !important;
    margin: 2.5em 0 !important;
    position: relative;
  }
  p{
      margin:7px 0 !important;
  }
  .page{
    padding: 120px 15px;

}

.nav-item {
   
    /* opacity:0; */
  }
  
  
 